.btn {
    background: #c73021;
    border: 0;
    padding: 14px;
    color: #e8e8e8;
    width: 100%;
    max-width: 200px;
    font-weight: bold;
    margin-top: 5px;
    text-transform: uppercase
}

.btn:hover {
    background: red;
    cursor: pointer
}

.btn i {
    color: #e8e8e8 !important
} 